.content {
  margin-top: 10px
}

.airport {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border: 1px solid #dee7ec;
}

.airport::placeholder {
  font-size: 15px;
}

.input_date {
  width: 200px;
  font-size: 20px;
  border: 1px solid #dee7ec;
}

.input_budget {
  width: 200px;
  height: 35px;
  font-size: 20px;
  border: 1px solid #dee7ec;
}

.info-submit {
  background-color: #dee7ec;
  color: gray;
  opacity: 0.7;
  margin-top: 20px;
  width: 400px;
  height: 50px;
  font-size: 20px;
}

.info-submit:hover {
  opacity: 1;
}

.submit-button {
  text-align: center;
}

.controls{
    position: relative;
    width: 200px;
    text-align: center;
    display:flex;
    display: -webkit-flex;
    justify-content:space-around;
    margin: 0 auto;
    margin-top: 50px
}

.controls .button {
    border: none;
    background: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    width: 50px;
    height: 50px;
    z-index: 100;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-radius: 50%;
    background: #fff;
}

.button .next{
    display: inline-block;
    width: 10px;
    height:5px;
    background: rgb(129,212,125);
    line-height: 0;
    font-size:0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
    left: -5px;
    top: 2px;
    position: relative;
}

.button .next:after{
    content:'/';
    display:block;
    width: 20px;
    height:5px;
    background: rgb(129,212,125);
    -webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
}

.button .prev{
    display: inline-block;
    width: 20px;
    height:5px;
    background: rgb(230,104,104);
    line-height: 0;
    font-size:0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
}

.button .prev:after{
    content:'/';
    display:block;
    width: 20px;
    height:5px;
    background: rgb(230,104,104);
    -webkit-transform: rotate(-90deg);
}

.controls .text-hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    color: transparent;
    display: block;
}