* {
	margin: 0;
	padding: 0;
}

body {
  font-family: "Avenir Next";
}

.date {
	line-height: 20%;
}

.head_title {
	text-align: center;
}

.head_title h2 {
	font-family: 'Coiny', cursive;
	font-size: 90px;
	font-size: Italick;
	color: pink;
	padding-top: 50px;
}

.top-wrapper {
  background-image: url("../top.jpg");
  background-size: cover;
  height: 700px;
  margin: 0 auto;
}

.submit-all {
  font-size: 35px;
  width: 500px;
  margin: 25px auto;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.target_point {
	border-radius: 4px;
	cursor: pointer;

}

footer {
	height: 200px;
}

